.chat-messages-container {
    flex-grow: 1;
    margin-top: 20px;
    /* 'overflow: scroll' allows the chat messages container to be scrollable when the content exceeds the height of the container. */
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
}